# Variables Numéricas

In [7]:
#Vamos a crear nuestras primeras variables en Python
x = 12

In [8]:
x

12

In [9]:
y = 13.5

In [10]:
y

13.5

In [11]:
#Visualizamos el tipo de dato de x
type(x)

int

In [12]:
#Visualizamos el tipo de dato de y
type(y)

float

In [13]:
#Veamos mas ejemplos:
x = 5
y = "Paul"
print(x)
print(y)

5
Paul

In [14]:
#Si deseamos definir el tipo de dato de una variable podemos por ejmplo hacer lo siguiente:
x = str(5)    # x sera '5'
y = int(5)    # y sera 5
z = float(5)  # z sera 5.0

In [15]:
print(x)
print(y)
print(z)

5
5
5.0

In [16]:
#Importante: Python es Case Sentitive, el siguiente codigo creara 2 variables:
a = 4
A = "Susan"

Nombres aceptados para las variables:

In [17]:
myvar = "Susan"
my_var = "Susan"
_my_var = "Susan"
myVar = "Susan"
MYVAR = "Susan"
myvar2 = "Susan"

Nombres no aceptados para las variables:

In [18]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (2185399839.py, line 1)

In [ ]:
#Muchos valores para múltiples variables
x, y, z = "Naranja", "Manzana", "Cherry"

print(x)
print(y)
print(z)

In [ ]:
#Un valor para múltiples variables
x = y = z = "Naranja"
print(x)
print(y)
print(z)

In [ ]:
#Ejercicio 1: Crea una variable llamada Auto y asignale el valor de Mercedes Benz.

Auto = "Mercedes Benz"

In [ ]:
#Ejercicio 2: Elimine los caracteres ilegales en el nombre de la variable:

my_first_name = "Melannie"

In [ ]:
#Ejercicio 3: Cree una variable llamada curso y asígnele el valor Python.

curso = "Python"

## Conversión de variables numéricas

In [ ]:
x = 4.6
y = 5.4

In [ ]:
#Con esta función estamos convirtiendo a la variable x en una variable de tipo int
z = int(x)
z

In [ ]:
#La función round redondea el número al valor superior más próximo
z = round(x)
z

In [ ]:
#Veamos nuevamente el tipo de dato de x
x = 4
type(x)

In [ ]:
#Convertimos en flotante
z = float(x)
z

In [ ]:
type(z)

# Strings

In [ ]:
saludo = "Hola mundo!"

In [ ]:
type(saludo)

In [ ]:
print(saludo)

In [ ]:
#Cadenas multilínea
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [ ]:
#Formateo de Strings: Si yo intento combinar strings con nros obtendremos un error:
edad = 36
txt = "Mi nombre es John, y tengo " + edad
print(txt)

In [ ]:
# Funcion format()
edad = 36
txt = "Mi nombre es John, y tengo {}"
print(txt.format(edad))

# Input

In [1]:
nombre = input("Ingrese su nombre: ")
edad = int(input("Ingrese su edad: "))
print(nombre)
print(edad)

Ingrese su nombre: Juan
Ingrese su edad: 25
Juan
25

In [1]:
#Otro ejemplo
miNombre = input()

Layla

In [2]:
print('Me alegro de conocerte, ' + miNombre)

Me alegro de conocerte, Layla